/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  color: #f3ecec;
  background-color: rgb(10, 10, 10);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  line-height: auto;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: auto;
}

button {
  background: none;
  border: none;
  color: #f3ecec;
}

input,
form {
  font-family: "Inter", sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
} */
